@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.topnav {
    background-color: #000000;
    overflow: hidden;
    color: #fff;
    font-family: Poppins;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ccc;
    color: black;
}

.topnav a.active {
    background-color: #fff;
    color: #000;
}

.topnav-right {
    float: right;
}

.Libertalia {
    font-size: 2rem;
    font-family: Poppins;
    padding: 1rem;
}
