@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    font-family: Poppins;
}
.nav {
    background-color: #333;

    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
    height: 60px;
    width: 60px;
    -webkit-filter: invert(1);
    filter: invert(1);
    float: left;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav .nav-content {
    width: 80%;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-item {
    display: inline;
    margin-left: 2rem;
    color: #cccccc;
}

.nav-item:hover {
    color: #fff;
    cursor: pointer;
}

.nav-item > .active {
    border-bottom: 2px solid #fff;
}

.Libertalia {
    color: #fff;
    font-size: 2rem;
    float: left;
    position: absolute;
    left: 20px;
}

.Libertalia:hover {
    cursor: pointer;
}

.section-content {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 40px;
    transition: ease-in 0.5s;
}

footer {
    height: 5%;
    text-align: center;
}

.float-right {
    flex: 1.5;
    font-size: 2rem;
}

.float-left {
    flex: 1;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a {
    display: inline;
    margin-left: 2rem;
    color: #cccccc;
}

a.active {
    display: inline;
    margin-left: 2rem;
    color: #cccccc;
}
